<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Report Details</h5>
        </div>
        <div class="card-body">

          <form class="form" method="" action="" #f="ngForm" (ngSubmit)="submit(f.value)">

            <div class="row">

              <!-- Date -->
              <div class="form-group col-sm-6 col-lg-4">
                <label for="datePicker">&nbsp;&nbsp;&nbsp;Date: </label>
                <div class="datepicker-container">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fa fa-calendar-alt"></i>
                      </span>
                    </div>
                    <input 
                      id="datePicker" 
                      class="form-control datetimepicker" 
                      placeholder="Enter Date..." 
                      name="date" 
                      [(ngModel)]="model" 
                      ngbDatepicker
                      #d="ngbDatepicker" 
                      (click)="d.toggle()"
                    >
                  </div>
                </div>
              </div>
              <!-- End: Date  -->


              <!-- Time -->
              <div class="form-group col-sm-6 col-lg-4">
                <label for="time">&nbsp;&nbsp;&nbsp;Beginning Time: </label>
                  <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fa fa-clock"></i>
                        <!-- Time:  -->
                      </span>
                    </div>
                    <input
                      [(ngModel)]="time"
                      name="beginTime" 
                      type="time" 
                      class="form-control" 
                      (focus)="focus=true" 
                      (blur)="focus=false"
                    >
                  </div>
              </div>
              <!-- End: Time -->

            </div>

            <!-- Language -->
            <div class="row">
              <div class="col-md-8 form-group">
                <label for="">&nbsp;&nbsp;&nbsp;Language:</label>
                <select ngModel name="language" class="form-control custom-select select-box">
                  <option value="volvo">English</option>
                  <option value="saab">Hindi</option>
                  <option value="mercedes">Gujarati</option>
                </select>
              </div>
            </div>
            <!-- End: Language -->

            <!-- Report Filed by -->
            <div class="row">
              <div class="col-md-8 form-group">
                <label for="incharge">&nbsp;&nbsp;&nbsp;Report filed by: </label>
                <input ngModel name="volunteerName" id="incharge" list="browsers" class="form-control">

                <datalist id="browsers">
                  <option value="Internet Explorer">
                  <option value="Firefox">
                  <option value="Chrome">
                  <option value="Opera">
                  <option value="Safari">
                </datalist>
              </div>
            </div>
            <!-- END : Report filer by -->

            <!-- Prayer -->
            <div class="row">
              <div class="col-md-8 form-group">
                <label for="Prayer">&nbsp;&nbsp;&nbsp;Beginning Prayer: </label>
                <input ngModel name="prayer" id="Prayer" list="prayers" class="form-control">

                <datalist id="prayers">
                  <option value="Internet Explorer">
                  <option value="Firefox">
                  <option value="Chrome">
                  <option value="Opera">
                  <option value="Safari">
                </datalist>
              </div>
            </div>
            <!-- END : Prayer -->

            <!-- Next Btn -->
            <div class="row">
              <div class="col-md-8 form-group">
                <button class="pull-right btn btn-danger btn-round" type="submit">Next</button>
              </div>
            </div>

          </form>



        </div>
      </div>
    </div>
  </div>
</div>
