<img id="backgroundimage" src="../../assets/img/crossbg2_2.jpg" border="0" alt="">

<div style="display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;">
  <div class="col-md-4  ">
    <div class="card card-plain">
      <form class="form" #f="ngForm" (ngSubmit)="signIn(f.value)">
        
        <!-- Logo -->
        <div class="header header-primary text-center">
          <div style="width:100%; margin: auto">
            <img src="../../assets/img/grace-logo.png" alt="">
          </div>
        </div>
        <!-- End: Logo -->
        
        <!-- Card -->
        <div class="card-body">

          <!-- Username Textbox -->
          <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-user"></i>
              </span>
            </div>

            <input 
              ngModel
              name="username"
              type="text" 
              required 
              pattern="[acvt]{1}-[a-z0-9]+"
              #username="ngModel"
              class="form-control" 
              placeholder="Username..." 
              (focus)="focus=true" 
              (blur)="focus=false" 
              style="color: gray; text-transform: lowercase;"
            >
          </div>
          <div *ngIf="username.dirty && !username.valid && !username.value==''" class="error">
            Username should follow "[a/c/v/t]-###.." this pattern.
          </div>
          <!-- End: Username Textbox -->

          <!-- Password Textbox -->
          <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-key"></i>
              </span>
            </div>
            <input 
              ngModel
              required
              name="password"
              type="password" 
              class="form-control" 
              placeholder="Password..." 
              (focus)="focus1=true" 
              (blur)="focus1=false" 
              style="color: gray"
            >
          </div>
          <!--End: Password Textbox -->

        </div>
        <!-- End: Card -->

        <!-- Login Button -->
        <div class="footer text-center">
          <button type="submit" class="btn btn-primary btn-round btn-lg btn-block" [disabled]="!f.valid || isLoading">
            {{submitBtn}}
            <img *ngIf="isLoading" src="../../../../assets/img/tail-spin.svg"/>
          </button>
        </div>
        <!-- End: Login Button -->
        
        <!-- Error Box -->
        <div *ngIf="invalidLogin" class="alert alert-danger">{{errorMsg }}</div>
      </form>
    </div>
  </div>