<div class="card-header">
  <h5 class="title">Mark Attendance</h5>
</div>
<div class="card-body">

  <form class="form" method="" action="" #f="ngForm" (ngSubmit)="submit(f.value)">

    <!-- All Present/Absent button -->
    <input #btnn type="button" class="btn btn-primary btn-link " (click)="allPresent(btnn)" value="All Present">

    <br>
    <br>

    <div class="row">
      <!-- Loop to generate checkboxes of batch members -->
      <div *ngFor="let member of members" class="col-md-3">
        <div class="form-check">
          <label class="form-check-label">
            <input value="aa" class="form-check-input" type="checkbox" [checked]="member.isPresent" (change)="member.isPresent = !member.isPresent"> {{ member.name }}
            <span class="form-check-sign"></span>
          </label>
        </div>
      </div>
      <!-- End : Loop to generate batch members -->
    </div>

    <br>
    <br>

    <!-- Submit Button -->
    <input type="submit" class="btn btn-danger pull-right" value="submit">

  </form>
</div>