<div class="panel-header panel-header-sm">
</div>

<div class="main-content">
  <div class="row">
    <div class="col-md-12">

      <div class="card">

        <div class="card-header">
          <h5 class="title">Categories List</h5>
        </div>

        <div *ngIf="isLoading" class="loading"></div>                  
        
        <div class="card-body">
      
          <div class="container">
           
            <div class="row">
              <div class="col-md-6 form-group">
                <select 
                  placeholder="Select" 
                  ngModel 
                  (change)="onCampusChange($event.target.value)" 
                  name="campus" 
                  class="form-control custom-select select-box"
                >
                  <option style="color: lightgray" value="" disabled selected>- Select Campus -</option>
                  <option *ngFor="let campus of campusList" [value]="campus.id" >{{campus.name}}</option>
                </select>
              </div>
            </div>

            <br>


            <div *ngIf="selectedCampusId != ''">
              <div style="font-size: 12px" class="text-muted">Current Donation Categories:</div>

              <div class="row">
                <div class="col-md-6">
                  
                  <ul class="list-group">
                    <li
                      *ngFor="let category of categoryList" 
                      class="list-group-item d-flex justify-content-between align-items-center"
                    >
                      <a 
                        style="cursor: pointer;"
                        [swal]="{ title: 'Edit Category', input: 'text', inputValue: category.category, showCancelButton: true, confirmButtonColor: '#dc3545'}"
                        (confirm)="editCategory(category.id, $event)"
                      >
                        {{category.category}}
                      </a>
                      <span 
                        (click)="deleteCategory(category.id);" 
                        class="badge badge-danger badge-pill"
                        style="cursor: pointer;"
                      >
                        <i style="padding:5px" class="far fa-trash-alt"></i>
                      </span>
                    </li>
                  </ul>

                </div>

              </div>
              <br>
              <div class="row">
                  <div class="col-md-5">
                      <div class="form-group">
                          <input [(ngModel)]="newCategoryName" type="text" value="" placeholder="Add New Category..." class="form-control" />
                      </div>
                  </div>
    
                  <div class="col-md-1">
                    <button class="bttn pull-right btn-round"
                      (click)="addCategory()"
                    >
                        {{submitBtn}}
                        <img *ngIf="isAddCategoryLoading" src="../../../../assets/img/tail-spin.svg" class="pull-right"/>
                      </button>
                  </div>
                </div>
              </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>