<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">

      <div class="card">

        <ngb-tabset #tabs="ngbTabset" type="tabs" justify="justified">
          <ngb-tab id="view">
              <ng-template ngbTabTitle>
                <div (click)="tabChange('view')">View Volunteers</div>
              </ng-template>
            <ng-template ngbTabContent>
              <view-volunteers></view-volunteers>
            </ng-template>
          </ngb-tab>
          <ngb-tab id="add">
            <ng-template ngbTabTitle>
              <div (click)="tabChange('add')">Add Volunteer</div>
            </ng-template>
            <ng-template ngbTabContent>
              <add-volunteer></add-volunteer>
            </ng-template>
          </ngb-tab>
          <!-- <ngb-tab title="Disabled">
            <ng-template ngbTabContent>
              
            </ng-template>
          </ngb-tab> -->
        </ngb-tabset>

      </div>

    </div>
  </div>
</div>